<div class="main">
  <div class="search">
    <mat-form-field fxFill appearance="legacy">
      <mat-label>Pesquisar</mat-label>
      <input matInput type="text" />
    </mat-form-field>
  </div>

  <div class="tableForm">
    <table
      mat-table
      [dataSource]="dataTable"
      aria-describedby="Lista de moradores"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">{{ element?.id }}</td>
      </ng-container>
      <ng-container matColumnDef="apartment">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> apartamento </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.apartment }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> Nome </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> cpf </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="rg">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> rg </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.rg }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> email </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.email }}</td>
      </ng-container>
      <ng-container matColumnDef="telephoneA">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> Telefone 1 </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.telephoneA }}</td>
      </ng-container>
      <ng-container matColumnDef="telephoneB">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> Telefone 2 </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.telephoneB }}</td>
      </ng-container>
      <ng-container matColumnDef="emergencyContact">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> Contato de Emergencia </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.emergencyContact }}
        </td>
      </ng-container>
      <ng-container matColumnDef="emergencyTelephone">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> Telefone de emergencia </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.emergencyTelephone }}
        </td>
      </ng-container>
      <ng-container matColumnDef="obs">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header"> Observações </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.obs }}</td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header">Atualizar</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            [style.display]="love ? 'block' : 'none'"
            color="warn"
            (click)="delete(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            [style.display]="love ? 'block' : 'none'"
            routerLink="/register/resident/{{ element.apartment }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="paginator">
      <mat-paginator
        [length]="totalLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15, 20]"
        (page)="pageChange($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
    <div class="controller">
      <button class="login" mat-button routerLink="" appearance="outline">
        <mat-icon>login</mat-icon>
      </button>
      <button
        class="login"
        mat-button
        id="register"
        [style.display]="love ? 'block' : 'none'"
        routerLink="../register/resident"
        appearance="outline"
      >
        Cadastro
      </button>
      <button
        class="login"
        (click)="exportExcel()"
        mat-button
        appearance="outline"
      >
        Exportar excel(padrao)
      </button>
      <button
        class="login"
        (click)="generateExcel()"
        mat-button
        appearance="outline"
      >
        Exportar excel(jasper)
      </button>
      <button
        (click)="generatePDF()"
        class="login"
        mat-button
        appearance="outline"
      >
        Exportar pdf(jasper)
      </button>
    </div>
    <div class="upload" fxLayout="row" fxLayoutGap="1em">
      <mat-form-field fxFlex="90" appearance="outline">
        <mat-label> </mat-label>
        <input
          [formControl]="filenameControl"
          (click)="fileInput.click()"
          matInput
          readonly="true"
        />
        <button matSuffix mat-icon-button>
          <mat-icon (click)="fileInput.click()">attach_file</mat-icon>
        </button>
      </mat-form-field>
      <input
        type="file"
        accept=".xlsx"
        #fileInput
        (change)="loadFile($event)"
        hidden
      />

      <button
        (click)="uploadFile()"
        class="login"
        mat-button
        appearance="outline"
      >
        Upload Excel(xlsx)
      </button>
    </div>
  </div>
</div>
