.form{
    display: center;
    margin: auto;
    margin-top: 10%;
    //margin: top right bottom left
    width: 30%;
    
}

mat-form-field{
    margin: 0%;     
    padding: 0;
}

.botoes{
    margin: 1% auto;
    text-align: center;
    
}


button{
    background-color: #B39DDB;
    color: whitesmoke;
    font-weight: bold;
    width: 15%;
}
.cleaner{
    width:30%;
    margin-top: 3%;
}